[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu116/"
verify_ssl = true
name = "downloadpytorch"

[packages]
opencv-python = "*"
torch = {version = "==1.12.0+cu116", index = "downloadpytorch"}
tensorboard = "*"
scikit-learn = "*"
dvc = "*"
"dvc[gs]" = "*"
google-cloud-storage = "*"
pandas = "*"
imgaug = "*"
h5py = "*"
transformers = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.10"
